@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("~@/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("~@/assets/fonts/Inter-Bold.woff2") format("woff2");
}

:root {
  --narrow: 360px;
  --medium: 720px;
  --wide: 1080px;

  --max-width: 1280px;

  --spacing: 10px;
  --spacing-xs: 2.5px;
  --spacing-s: 5px;
  --spacing-m: var(--spacing);
  --spacing-l: 20px;
  --spacing-xl: 40px;
  --spacing-xxl: 60px;

  --font-family: 'Inter', sans-serif;
  --font-size: 16px;
  --font-size-s: 12px;
  --font-size-l: 20px;
  --font-size-xl: 32px;

  --regular: 400;
  --bold: 600;

  --text: #000;
  --light-text: #96A7B9;
  --background: #FFF;
  --pale-gray: #F1F4F7;
  --light-gray: #E1E8EE;
  --gray: #7c8c9e;
  --dark-gray: #515f6e;
  // --muted: #BBB;
  --accent-1: #0057B7;
  --accent-2: #FFD700;

  --transition: .2s;
}

html {
  font: var(--regular) var(--font-size)/1.3 var(--font-family);
  box-sizing: border-box;
  background: var(--background);
  color: var(--text);

  scroll-padding-top: 60px;

  ::selection {
    background: var(--accent-2);
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    font-size: 1em;
    font-weight: 700;
  }

  h3 {
    font-size: var(--font-size-s);
    font-weight: 400;
  }

  a {
    color: var(--accent-1);
    text-decoration: none;
  }

  code {
    font-family: ui-monospace, monospace;
  }

  // #app {
  //   width: var(--wide);
  //   max-width: 100vw;
  // }

  .max-width {
    display: flex;
    justify-content: center;
    width: 100vw;

    > .max-width-inner {
      width: 100%;
      max-width: var(--max-width);
    }
  }

  .leaflet-pane {
    z-index: 40;
  }
  .leaflet-control-container {
    > * {
      z-index: 45;
    }
  }
}